.p6 {
  padding: .6rem;
}

.fSize--smaller {
  font-size: 1.1em;
}


.badge {
  padding: 4px 15px;
  margin: 6px 6px 0 6px;
}

.badgeCustom--padding {
  padding: 18px 8.5px;
  font-size: 1.3em;
}



.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .imgG {
    flex: 0 0 auto;
    max-width: 150px;
  }
}

// ::-webkit-scrollbar {
//     display: none;
// }
