/*------------------------------------*\
  #FILMCARDS STYLES
\*------------------------------------*/





// Information column styles

.infoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media screen and (max-width: $break-small) {
    max-width: 300px;
    margin: auto;
  }
}


.shortDescription {
  height: 4rem;
  margin: 0 auto;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardLink-box {
  text-align: center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;

  @media screen and (max-width: $break-medium) {
    margin-top: 1.5em;
  }
}


.card-link {
  color: $secondary;
}

.card-link:hover {
  font-weight: 600;
  color: $dark;
}

.noBorder:focus {
  box-shadow: none;
}

.cardLink-title {
  color: $dark!important;
}

.cardLink-title:hover {
  text-decoration: none;
  color: $info!important;
}

// Main image column styles

.filmImage__container {
  @media screen and (max-width: $break-small) {
    margin: auto!important;
  }
}

.filmImage:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.25);
  border-radius: 0.25rem;
}
