// Fuente

body {
  font-family: $font-family-sans-serif;
}

.emoji {
  font-size: 1.5em;
}

// Tamaños de letra

.display6 {
  font-size: 1.1em;
}

.display9 {
  font-size: 1.3em;
}

.display10 {
  font-size: 1.4em;
}

.display-less-1 {
  font-size: .75em;
}


// Grid listado

.mainContent {
  min-height: 100vh;
  margin: 2em 0;
}

.gridContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

// Formularios

.form-control {
    padding: .5rem .75rem;
    border: none;
    border-bottom: 2px solid;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// Color de fondo

.bgCustom {
  background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
}
